{% extends 'admin/admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#showorderTable').DataTable({
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
        ],
        pagingType: 'full_numbers',
        stateSave: true,
    });
            $('#showorderTable').show();
        });
    </script>
{% endblock %}

{% block body %}
    
    <div class="pull-right">
        <br>
        <b>Grand Total:</b> ${{ grandTotal|number_format(2) }}
    </div>
    
    <h1>Show Orders</h1>

    <table id="showorderTable" class="table" style="display:none;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Submitted</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for showOrder in showOrders %}
                <tr>
                    <td><a href="{{ path('showorder_show', { 'id': showOrder.id }) }}">{{ showOrder.id }}</a></td>
                    <td>{{ showOrder.customer.customerNumber }}</td>
                    <td>
                        {% if showOrder.submitted %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-remove"></i>
                        {% endif %}
                    </td>
                    <td>${{ showOrder.orderTotal|number_format(2) }}</td>
                    <td>
                        <a class="btn btn-sm btn-default" href="{{ path('showorder_edit', { 'id': showOrder.id }) }}">edit</a>
                        <a class="btn btn-sm btn-default" href="{{ path('showorder_export', { 'id': showOrder.id }) }}">export</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a class="btn btn-primary" href="{{ path('showorder_new') }}">Create a new order</a></p>
    <p><a class="btn btn-default" href="{{ path('showorder_export_all') }}">Export All Orders</a></p>

{% endblock %}
