<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Order Form{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link href="{{ asset('lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <style type="text/css">
            body {
                margin-top: 70px;
                margin-bottom: 70px;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">WTC Show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-default navbar-btn" href="{{ path('admin_homepage') }}">Admin</a>
                {% endif %}
                {% if is_granted('ROLE_SALES') %}
                    <a class="btn btn-default navbar-btn" href="{{ path('sales_homepage') }}">Sales</a>
                {% endif %}
                {% if app.request.cookies.get('customerNumber') %}
                    <a class="btn btn-default navbar-btn" href="{{ path('cart') }}"><i class="glyphicon glyphicon-shopping-cart"></i> Cart</a>
                {% endif %}                
                <a class="btn btn-default navbar-btn" href="{{ path('itinerary') }}">Itinerary</a>
                <a class="btn btn-default navbar-btn" href="{{ path('help') }}">Help</a>
                <span class="hidden-xs hidden-sm navbar-right">
                    <p class="navbar-text">{{ app.request.cookies.get('customerNumber') }}</p>
                </span>
            </div>
        </nav>

        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-right">
                        <a id="logout-button" class="btn btn-default navbar-btn" href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </div>
                    <span class="hidden-xs hidden-sm">
                        <p class="navbar-text">Welcome back {{ app.user.username }}</p>
                    </span>
                {% elseif app.request.cookies.get('customerNumber') %}
                    <div class="navbar-right">
                        <a id="logout-button" class="btn btn-default navbar-btn" href="{{ path('clear_customer_number') }}">Logout</a>
                    </div>
                    <span class="hidden-xs hidden-sm">
                        <p class="navbar-text">Welcome back {{ app.request.cookies.get('customerNumber') }}</p>
                    </span>
                {% else %}
                    <a class="btn btn-link navbar-btn" href="{{ path('fos_user_security_login') }}">Login</a> 
               {%  endif %}
            </div>
        </div>

        <div class="container">
            {% if active_customer and active_customer.showOrder.submitted %}
                <div class="alert alert-warning">This order has been submitted, contact a representative if you need to make further changes.</div>        
            {% endif %}
            {% for notice in app.flashes('notice') %}
                <div class="alert alert-info">{{ notice }}</div>
            {% endfor %}
            {% block content %}
                {% block body %}{% endblock %}
            {% endblock %}
        </div>

        <script src="{{ asset('lib/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script type="text/javascript">
            $('#logout-button').on('click', function (e) {
                if (!confirm('Do you want to log out?')) {
                    e.preventDefault();
                    return false;
                }
                return true;
            });
        </script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
