<p><a href="{{ path('cart', {vendor: null}) }}">Show All Vendors</a></p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for i in totals %}
            <tr class="{% if app.request.get('vendor') == i['vendor'].id %}active{% endif %}">
                <th><a href="{{ path('cart', {vendor: i['vendor'].id}) }}">{{ i['vendor'].company }}</a></th>
                <td>${{ i['total']|number_format(2) }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Grand Total</th>
            <td>${{ grand_total|number_format(2) }}</td>
        </tr>
    </tfoot>
</table>