{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="number"]').on('focus', function () {
                $(this).select();
            });
            $('.update-cart').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                $.get(form.attr('action'), form.serialize(), function (data) {
                    form.append('<i class="glyphicon glyphicon-ok"></i>');
                });
                return false;
            });
            $('.delete-cart-item').on('click', function (e) {
                e.preventDefault();
                if (confirm('Are you sure?')) {
                    var link = $(this);
                    $.get(link.attr('href'), function (data) {
                        console.log(link.parentsUntil('tbody'));
                        link.parentsUntil('tbody').remove();
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% if not active_customer.showOrder.submitted %}
        <a class="btn btn-primary pull-right" href="{{ path('submit_order') }}" onclick="window.confirm('Proceeding to the next step will lock in your order, are you sure?');">Submit Your Order</a>
    {% endif %}

    <h1>Your Shopping List</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Total:</th>
                <td>${{ total|number_format(2) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Name</th>
                <th>Quantity</th>
                    {% if not active_customer.showOrder.submitted %}
                    <th>Remove</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.itemNumber }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>
                        {% if active_customer.showOrder.submitted %}
                            {{ item.quantity }}
                        {% else %}
                            <form class="form-inline update-cart" action="{{ path('update_cart') }}" method="post">
                                <input type="hidden" name="itemNumber" value="{{ item.product.itemNumber }}">
                                <div class="input-group">
                                    <input class="form-control input-sm" type="number" name="quantity" value="{{ item.quantity }}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="submit">Update</button>
                                    </span>
                                </div>
                            </form>
                        {% endif %}
                    </td>
                    {% if not active_customer.showOrder.submitted %}                        
                        <td>
                            <a class="btn btn-danger btn-sm delete-cart-item" href="{{ path('delete_cart_item', {itemNumber: item.product.itemNumber}) }}" title="Remove item"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
