{% extends 'base.html.twig' %}

{% block body %}

    {% if not showOrder.submitted %}
        <a class="btn btn-primary pull-right" href="{{ path('submit_order') }}" onclick="window.confirm('Proceeding to the next step will lock in your order, are you sure?');">Submit Your Order</a>
    {% endif %}

    <h1>Your Shopping List</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Current Vendor Total:</th>
                <td>{{ currentVendorTotal }}</td>
            </tr>
            <tr>
                <th>Combined Total:</th>
                <td>{{ combinedTotal }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Name</th>
                <th>Vendor</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.itemNumber }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.vendor.vendorNumber }}</td>
                    <td>
                        <form class="form-inline" action="{{ path('update_cart') }}" method="post">
                            <div class="row">
                                <div class="col-xs-6">
                                <input class="form-control input-sm" type="number" name="quantity[{{item.id}}]" value="{{ item.quantity }}">
                                </div>
                                <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
