{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="number"]').on('focus', function() {
                $(this).select();
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% if not showOrder.submitted %}
        <a class="btn btn-primary pull-right" href="{{ path('submit_order') }}" onclick="window.confirm('Proceeding to the next step will lock in your order, are you sure?');">Submit Your Order</a>
    {% endif %}

    <h1>Your Shopping List</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Current Vendor Total:</th>
                <td>${{ currentVendorTotal|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Combined Total:</th>
                <td>${{ combinedTotal|number_format(2) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Name</th>
                <th>Vendor</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.itemNumber }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.vendor.vendorNumber }}</td>
                    <td>
                        {% if showOrder.submitted %}
                            {{ item.quantity }}
                        {% else %}
                            <form class="form-inline" action="{{ path('update_cart') }}" method="post">
                                <input class="form-control input-sm" type="number" name="quantity[{{item.id}}]" value="{{ item.quantity }}">
                                <button class="btn btn-default btn-sm" type="submit">Update</button>
                                <a class="btn btn-danger" href="{{ path('delete_cart_item', {id: item.id}) }}">Remove</a>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
