{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="number"]').on('focus', function () {
                $(this).select();
            });
            $('.update-cart').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                $.get(form.attr('action'), form.serialize(), function (data) {
                    form.find('.update-cart-button').addClass('btn-primary');
                    $.get('{{ path('cart_total') }}', function (data) {
                        $('#cart_total').html(data);
                    });
                });
                return false;
            });
            $('.delete-cart-item').on('click', function (e) {
                e.preventDefault();
                if (confirm('Are you sure?')) {
                    var link = $(this);
                    $.get(link.attr('href'), function (data) {
                        console.log(link.parentsUntil('tbody'));
                        link.parentsUntil('tbody').remove();
                        $.get('{{ path('cart_total') }}', function (data) {
                            $('#cart_total').html(data);
                        });
                    });
                }
                return false;
            });

            $.get('{{ path('cart_total') }}', function (data) {
                $('#cart_total').html(data);
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% if not active_customer.showOrder.submitted %}
        <form class="form-inline" action="{{ path('add_to_cart_manual') }}" method="post">
            <div class="form-group">
                <label class="sr-only" for="itemNumber">Item Number</label>
                <input class="form-control" type="text" name="itemNumber" placeholder="Item Number">                
            </div>
            <div class="form-group">
                <label class="sr-only" for="quantity">Quantity</label>
                <input class="form-control" type="text" name="quantity" value="1" style="width:3em;">
            </div>
            <button class="btn btn-default" type="submit">Add Item</button>
        </form>
        <a class="btn btn-primary pull-right" href="{{ path('submit_order') }}" onclick="window.confirm('Proceeding to the next step will lock in your order, are you sure? Only submit at end of show.');">Submit Your Order</a>
    {% endif %}

    <h1>Your Shopping List ({{ app.request.cookies.get('customerNumber') }})</h1>

    <div id="cart_total"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Item Number</th>
                <th class="hidden-xs">Name</th>
                <th>Price (EA)</th>
                <th style="width:200px;">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {{ item.product.itemNumber }}<br>
                        <a href="{{ 'uploads/products/' ~ item.product.imageUrl }}"><img src="{{ image('uploads/products/' ~ item.product.imageUrl).resize(100,100) }}"></a>
                    </td>
                    <td class="hidden-xs">{{ item.product.name }}</td>
                    <td class="text-right">${{ item.product.price|number_format(2) }}</td>
                    <td>
                        {% if active_customer.showOrder.submitted %}
                            {{ item.quantity }}
                        {% else %}
                            <form class="form-inline update-cart" action="{{ path('update_cart') }}" method="post">
                                <input type="hidden" name="itemNumber" value="{{ item.product.itemNumber }}">
                                <div class="input-group">
                                    <input class="form-control input-sm" type="number" name="quantity" value="{{ item.quantity }}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm update-cart-button" type="submit">Update</button>
                                        <a class="btn btn-danger btn-sm delete-cart-item" href="{{ path('delete_cart_item', {itemNumber: item.product.itemNumber}) }}" title="Remove item"><i class="glyphicon glyphicon-remove"></i></a>
                                    </span>
                                </div>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
