{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[name="quantity"]').on('focus', function () {
                $(this).select();
            });
            $('a.update-cart').on('click', function (e) {
                e.preventDefault();
                var link = $(this);
                $.get(link.attr('href'), function (data) {
                    link.html('<i class="glyphicon glyphicon-ok"></i>');
                });
                return false;
            });
            $('form.update-cart').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                $.get(form.attr('action'), form.serialize(), function (data) {
                    form.children('.btn').addClass('btn-primary');
                });
                return false;
            });
            $('#vendor-select-form').on('change', function (e) {
                this.form.submit();
            });
        });
    </script>
{% endblock %}

{% block body %}

    <form class="form" action="{{ path('vendor_order_sheet') }}" method="get">
        <div class="form-group col-sm-12">
            <select id="vendor-select-form" class="form-control" name="id">
                <option value="">Select Vendor</option>
                {% for x in vendors %}
                    <option value="{{ x.id }}" {% if vendor.id == x.id %}selected{% endif %}>{{ x.company }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <div class="pull-right">

        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#notesCollapse" aria-expanded="false" aria-controls="notesCollapse">
            Notes
        </a>

    </div>

    <h1>{{ vendor.company }}</h1>

    <div class="collapse" id="notesCollapse">

        <ul class="list-group">
            {% for note in notes %}
                <li class="list-group-item">{{ note.notes }}</li>
                {% endfor %}
        </ul>

        <form class="form" action="{{ path('add_note', { 'vendorId' : vendor.id } ) }}" method="post">
            <div class="form-group">
                <label class="form-label">Note</label>
                <textarea class="form-control" name="notes"></textarea>
            </div>
            <button class="btn btn-default" type="submit">Add Note</button>
        </form>

        <br>

    </div>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <a class="btn btn-default navbar-btn {% if showAsList %}active{% endif %}" href="{{ path('vendor_order_sheet', {id: vendor.id, showAsList: true}) }}"><i class="glyphicon glyphicon glyphicon-th"></i></a>
            <a class="btn btn-default navbar-btn {% if not showAsList %}active{% endif %}" href="{{ path('vendor_order_sheet', {id: vendor.id, showAsList: false}) }}"><i class="glyphicon glyphicon glyphicon-th-list"></i></a>
        </div>
    </div>

    <h3>New Products</h3>

    {% if not showAsList %}

        {% include 'default/_product_list.html.twig' with {'products': newProducts, 'active_customer': active_customer} only %}

    {% else %}

        {% include 'default/_product_items.html.twig' with {'products': newProducts, 'active_customer': active_customer} only %}

    {% endif %}

    <h3>Best Sellers</h3>

    {% if not showAsList %}

        {% include 'default/_product_list.html.twig' with {'products': bestSellers, 'active_customer': active_customer} only %}

    {% else %}

        {% include 'default/_product_items.html.twig' with {'products': bestSellers, 'active_customer': active_customer} only %}

    {% endif %}

{% endblock %}
