{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $('.add-to-cart').on('submit', function() {
            console.log(this);
            var form = $(this);            
            $.get(form.attr('action'), form.serialize(), function(data) {
                form.html(data);
            });
            form.html("Loading...");
            return false;
        });
    </script>
{% endblock %}

{% block body %}

    <h1>{{ vendor.company }}</h1>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <a class="btn btn-default navbar-btn {% if not showAsList %}active{% endif %}" href="{{ path('vendor_order_sheet', {id: vendor.id, showAsList: false}) }}"><i class="glyphicon glyphicon glyphicon-th"></i></a>
            <a class="btn btn-default navbar-btn {% if showAsList %}active{% endif %}" href="{{ path('vendor_order_sheet', {id: vendor.id, showAsList: true}) }}"><i class="glyphicon glyphicon glyphicon-th-list"></i></a>
        </div>
    </div>

    {% if showAsList %}

        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Item Number</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in vendor.products %}
                    <tr>
                        <td><img src="{{ asset('uploads/products/' ~ item.imageUrl) }}" style="max-height:100px;">
                        <td style="vertical-align:middle;">{{ item.itemNumber }}</td>
                        <td style="vertical-align:middle;">{{ item.name }}</td>
                        <td style="vertical-align:middle;">
                            {% if checkCart(item) %}
                                Item in Cart
                            {% else %}
                                <form class="form-inline add-to-cart" action="{{ path('add_to_cart', {id: item.id}) }}" method="get">
                                    <input class="form-control input-sm" type="number" name="quantity" value="1">
                                    <button class="btn btn-sm btn-default" type="submit">Add to Order</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}

        <div class="row">

            {% for item in vendor.products %}

                <div class="col-sm-4">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            {{ item.name }}
                        </div>

                        <div class="panel-body">
                            <img src="{{ asset('uploads/products/' ~ item.imageUrl) }}" class="col-sm-12 img-responsive">
                        </div>

                        <div class="panel-footer text-center" style="min-height:4em;">
                            {% if checkCart(item) %}
                                Item in Cart
                            {% else %}
                                <form class="form-inline add-to-cart" action="{{ path('add_to_cart', {id: item.id}) }}" method="get">
                                    <input class="form-control input-sm" type="number" name="quantity" value="1">
                                    <button class="btn btn-sm btn-default" type="submit">Add to Order</button>
                                </form>
                            {% endif %}
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>

    {% endif %}

{% endblock %}
