{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#vendor-select-form').on('change', function(e) {
                this.form.submit();
            });
        });
    </script>
{% endblock %}

{% block body %}

    <form class="form" action="{{ path('vendor_order_sheet') }}" method="get">
        <div class="form-group col-sm-12">
            <select id="vendor-select-form" class="form-control" name="id">
                <option value="">Select Vendor</option>
                {% for vendor in vendors %}
                    <option value="{{ vendor.id }}">{{ vendor.company }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <div class="row">

        {% for vendor in vendors %}
            <div class="col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('vendor_order_sheet', {id:vendor.id}) }}">
                            <span style="font-size:14pt;font-weight:bold;">{{ vendor.company }}</span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('vendor_order_sheet', {id: vendor.id}) }}">
                            <img src="{{ asset('uploads/vendors/' ~ vendor.imageUrl) }}" class="img-responsive" style="margin-left: auto; margin-right: auto;">
                        </a>
                        <div style="text-align: center; font-weight: bold;">Booth: {{ vendor.booth }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
