{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('lib/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
    
    <ul class="nav nav-tabs">
        <li><a href="{{ path('customer_index') }}">Manage Customers</a></li>
        <li><a href="{{ path('vendor_index') }}">Manage Vendors</a></li>
        <li><a href="{{ path('product_index') }}">Manage Products</a></li>
        <li><a href="{{ path('showorder_index') }}">Manage Orders</a></li>
        <li><a href="{{ path('user_index') }}">Manage Users</a></li>
    </ul>

    {% block body %}{% endblock %}

{% endblock %}
