{% extends 'admin/print.html.twig' %}

{% block body %}

{% for vendor in vendors %}

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <img src="{{ asset('uploads/vendors/' ~ vendor.imageUrl) }}" class="img-responsive">
      <br>
      {{ vendor.company }}
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div style="break-after: page;"></div>

  <div class="container">
    <div class="row">

    {% for product in vendor.products %}
        <div class="col-xs-4" style="height:3.25in;">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <img src="{{ image('uploads/products/' ~ product.imageUrl).resize(200,200) }}">                  
              <div style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><b>{{ product.name }}</b></div>
              <div><b>Item Number:</b> {{ product.itemNumber }}</div>
              <div><b>Price:</b> ${{ product.price|number_format(2) }}</div>
            </div>
          </div>
        </div>  
    {% endfor %}

    </div>
  </div>

  <div style="break-after: page;"></div>

{% endfor %}

{% endblock %}
