{% extends 'admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#productTable').DataTable();
            $('#productTable').show();
        });
    </script>
{% endblock %}

{% block body %}
    
    <h1>Products list</h1>

    <table id="productTable" class="table" style="display:none;">
        <thead>
            <tr>
                <th>Id</th>
                <th>SKU</th>
                <th>Name</th>
                <th>Price</th>
                <th>Vendor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                    <td>{{ product.itemNumber }}</td>
                    <td>{{ product.name }}</td>
                    <td>${{ product.price|number_format(2) }}</td>
                    <td>{{ product.vendor.vendorNumber }}</td>
                    <td>
                        <a class="btn btn-default btn-sm" href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-primary" href="{{ path('product_new') }}">Create a New Product</a>
        <a class="btn btn-default" href="{{ path('product_import') }}">Import Products</a>
    </p>

{% endblock %}
