{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Itemnumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.itemNumber }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <p>
            <a class="btn btn-primary" href="{{ path('product_new') }}">Create a New Product</a>
            <a class="btn btn-default" href="{{ path('product_import') }}">Import Products</a>
        </p>
            
{% endblock %}
