{% extends 'sales/sales.html.twig' %}

{% block body %}
    
    <h1>Customer</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Customernumber</th>
                <td>{{ customer.customerNumber }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ customer.company }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>Salesperson</th>
                <td>{{ customer.salesPerson.name }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a class="btn btn-default" href="{{ path('sales_customer_index') }}"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
        <a class="btn btn-default" href="{{ path('sales_customer_edit', { 'id': customer.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Edit</a>   
    </p>

{% endblock %}
