{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
    
    <ul class="nav nav-tabs">
        <li><a href="{{ path('sales_customer_index') }}">Manage Customers</a></li>
        <li><a href="{{ path('sales_showorder_index') }}">Manage Orders</a></li>
    </ul>

    {% block body %}{% endblock %}

{% endblock %}
