{% extends 'admin/admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#customerTable').DataTable();
            $('#customerTable').show();
        });
    </script>
{% endblock %}

{% block body %}
    
    <div class="pull-right">
        <br>
        <b>Grand Total:</b> ${{ grandTotal|number_format(2) }}
    </div>

    <h1>Customer List</h1>

    <table id="customerTable" class="table" style="display:none;">
        <thead>
            <tr>
                <th>Customer Number</th>
                <th>Company</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td><a href="{{ path('customer_show', { 'id': customer.id }) }}">{{ customer.customerNumber }}</a></td>
                    <td>{{ customer.company }}</td>
                    <td>${{ customer.showOrder.orderTotal|number_format(2) }}</td>
                    <td>
                        <a class="btn btn-sm btn-default" href="{{ path('customer_edit', { 'id': customer.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-primary" href="{{ path('customer_new') }}">Create a New Customer</a>
        <a class="btn btn-default" href="{{ path('customer_import') }}">Import Customers</a>
    </p>

{% endblock %}
